.footer__logo{
    display: none;

    @media screen and (min-width: 685px) {
        display: block;
        margin-right: 50px;
    }

    @media screen and (min-width: 1300px) {
        margin-right: 100px;
    }
}

.footer__logo-img{
    @media screen and (max-width: 999px) {
        width: 100px;
    }
}