.contacts__form{
    display: block;
}

.contacts__field{
    display: block;
}

.contacts__input{
    background-color: $color-two;
    height: 46px;
    width: 391px;
    margin-bottom: 10px;
    padding: 14px 21px;
    border: 2px solid $color-two;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
       border: 2px solid $hover-color-two;
    }

    @media screen and (max-width: 480px) {
        width: 296px;
    }

    @media screen and (min-width: 1200px) {
        width: 300px;
    }

    @media screen and (min-width: 1440px) {
        width: 391px;
    } 
}

.contacts__textarea{
    background-color: $color-two;
    width: 391px;
    height: 147px;
    margin-bottom: 22px;
    padding: 14px 21px;
    resize: none;
    border: 2px solid $color-two;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
       border: 2px solid $hover-color-two;
    }

    @media screen and (max-width: 480px) {
        width: 296px;
    }

    @media screen and (min-width: 1200px) {
        width: 300px;
    }

    @media screen and (min-width: 1440px) {
        width: 391px;
    } 
}

.contacts__checkbox{
    margin-bottom: 21px;
    display: flex;
    width: 391px;

    @media screen and (max-width: 480px) {
        width: 296px;
    }

    @media screen and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.contacts__checkbox-input{
    margin-right: 16px;
}

.contacts__checkbox-text{
    font-family: $font-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}

.contacts__btn{
    display: block;
    background-color: $color-five;
    color: $color-nine;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
       background-color: $hover-color-two;
    }

    @media screen and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

