@font-face {
    font-family: 'Light';
    src: url('../../fonts/TTHoves-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Regular';
    src: url('../../fonts/TTHoves-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Medium';
    src: url('../../fonts/TTHoves-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Bold';
    src: url('../../fonts/TTHoves-Bold.ttf') format('truetype');
}

