$font-light: 'Light', sans-serif;
$font-regular: 'Regular', sans-serif;
$font-medium: 'Medium', sans-serif;
$font-bold: 'Bold', sans-serif;
$color-one: #FBFBFB;
$color-two: #F3F3F3;
$color-three: #2C2C2C;
$color-four: #BDBDBD;
$color-five: #333;
$color-six: #F2F2F2;
$color-seven: #F9F9F9;
$color-eight: #E0E0E0;
$color-nine: #FFF;
$color-ten:#C30000;
$hover-color: rgb(200, 200, 233);
$hover-color-two: rgb(92, 92, 222);
